<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Danh sách quản trị viên</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="col-12" id="headerlist">
                        <div class="btnaddusers">
                            <a href="/users/add" class="btn btn-primary">Thêm người dùng</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="tables">
            <input class="form-control" id="myInput" type="text" placeholder="Tìm kiếm.."
                   style="margin-bottom: 10px">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Họ tên</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Role</th>
                    <th>Avatar</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="myTableUsers">
                {{#each ListAdmin}}
                    <tr>
                        <td scope="row">{{this.email}}</td>
                        <td scope="row">{{this.full_name}}</td>
                        <td scope="row">{{this.address}}</td>
                        <td scope="row">{{this.phone_number}}</td>
                        <td scope="row">{{this.role}}</td>
                        <td><img src="{{this.avatar}}" style="width: 50px;height: 50px;align-items: center"></td>
                        <td>
                            <a href="/users/edit/{{this._id}}" class="btn btn-primary" id="btnAction">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="#edit"/>
                                </svg>
                            </a>
                            <a href="/users/delete/{{this._id}}" onclick="return confirm('Bạn có muốn xóa không?')"
                               id="btnAction" class="btn btn-danger">
                                <svg class="bi pe-none me-2" width="16" height="16">
                                    <use xlink:href="#delete"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTableUsers tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
</div>
</div>