
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách người dùng</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Chỉnh sửa thông tin người dùng</h3>
                <div class="tile-body">


                    <form class="adddata" method="POST" action="" enctype="multipart/form-data" >
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" value="{{UserData.email}}" class="form-control" name="user_email">
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Họ và Tên</label>
                            <input type="text" value="{{UserData.full_name}}" class="form-control" name="user_full_name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Số điện thoại</label>
                            <input type="Number" value="{{UserData.phone_number}}" class="form-control" name="user_phone_number" rows="4">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Địa chỉ</label>
                            <input type="text" value="{{UserData.address}}" class="form-control" name="user_address" rows="4">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="Admin" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Admin
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="role" value="User" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                User
                            </label>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">chọn File</label>
                            <input type="file" name="avatar" class="form-control form-control-lg">
                        </div>
                        {{#if msg}}
                            <p class="text-danger">{{{msg}}}</p>
                        {{/if}}
                        <button type="submit" class="btn btn-primary">Submit</button>


                    </form>
                </div>
            </div>
        </div>

    </div>

