<div class="datalist">
    <h3>Danh sách</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên khánh hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each listOrder}}
            <tr>
                <td scope="row">{{this._id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.address}}</td>
                <td>{{this.Total}}</td>
                <td>{{this.status}}</td>
                <td>
                    <a href="/orders/detail/{{this._id}}" class="btn btn-primary" id="btnAction">chi tiết order</a>
                    <a href="/orders/delete/{{this._id}}" onclick="return confirm('Bạn có muốn xóa không?')" id="btnAction" class="btn btn-danger">Del</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</div>