<head>
    <title>Danh sách nhân viên | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>
<div class="app-title" style="margin-top: 25px">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách Banner</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" href="/banners/add" title="Thêm"><i class="fas fa-plus"></i>
                            Tạo mới banner </a>
                    </div>


                </div>
                <input class="form-control" id="myInput" type="text" placeholder="Tìm kiếm.."
                       style="margin-bottom: 10px">

                <table class="table table-bordered" style="text-align: center">
                    <thead>
                    <tr>
                        <!--                <th>ID</th>-->
                        <th>Ảnh</th>
                        <th>Mô tả</th>
                        <!--                <th>Ảnh</th>-->
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="myTableBanner">
                    {{#each itemList}}
                        <tr>
                            <td><img src="{{this.anh}}" width="100px" style="vertical-align: center"
                                     class="img-rounded"></td>
                            <!--                    <td scope="row">{{this._id}}</td>-->
                            <td scope="row">{{this.description}}</td>
                            <!--                    <td><img src="https://bucket.nhanh.vn/store/662/bn/opt_6.png" width="100px" style="vertical-align: center" class="img-rounded"></td>-->
                            <!--                    class="avatar avatar-sm rounded-circle me-2"-->
                            <td>
                                <a href="/banners/edit/{{this._id}}" class="btn btn-primary" id="btnAction">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="/banners/delete/{{this._id}}"
                                   onclick="return confirm('Bạn có muốn xóa không?')"
                                   id="btnAction" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTableBanner tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </div>
</div>