<style>

    .main-agileits {
        width: 30%;
        margin: 0 auto;
    }
    .form-w3-agile h2 {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        /*margin-bottom: 1em;*/
        letter-spacing: 2px;
    }
    .form-w3-agile {
        background: rgba(4, 4, 4, 0.56);
        -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
        -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
        box-shadow: 0px 35px 44px -22px #1f181b;
        padding: 60px 40px;
    }

    .form-sub-w3{
        position:relative;
        margin-bottom: 20px;
    }
    .form-sub-w3 input[type="text"],input[type="password"] {
        outline: none;
        font-size: 15px;
        color: #ffffff;
        padding: 15px 40px 15px 10px;
        letter-spacing: 2px;
        width: 87%;
        border: none;
        border: 1px solid #DCCBCF;
        -webkit-appearance: none;
        margin-bottom: 10px;
        background: transparent;
        font-family: 'Sirin Stencil', cursive;
    }
    .form-sub-w3 input[type="password"] {
        outline: none;
        font-size: 15px;
        color: #ffffff;
        padding: 15px 40px 15px 10px;
        width: 87%;
        border: none;
        border: 1px solid #DCCBCF;
        -webkit-appearance: none;
        margin-bottom: 10px;
        background: transparent;
        font-family: 'Sirin Stencil', cursive;
    }
    input[type="submit"] {
        background: #fff;
        color: #000;
        outline: none;
        display: block;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        padding: 7px 35px;
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Sirin Stencil', cursive;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
    }
    input[type="submit"]:hover{
        background: #4CAF50;
        color:#ffffff;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
    }
    .p-bottom-w3ls {
        font-size: 16px;
        color: #eee;
        margin-top: 0em;
        text-align: center;
        text-transform: none;
        float:left;
    }
    .p-bottom-w3ls1 {
        font-size: 16px;
        color: #eee;
        margin-top: 0em;
        text-align: center;
        text-transform: none;
        float:right;
    }
    .p-bottom-w3ls a,.p-bottom-w3ls1 a{
        color: #8BC34A;
        outline:none;
        text-decoration:none;
    }

    @media screen and (max-width: 1680px) {
        .p-bottom-w3ls1 {
            padding-right: 10px;
        }
        .icon-w3 {
            right: 20px;
        }
    }
    @media screen and (max-width: 1600px) {
        .p-bottom-w3ls1 {
            padding-right: 5px;
        }
        h1 {
            margin: 40px 0;
        }
        .copyright p {
            margin: 50px 0px;
        }
        .icon-w3 {
            right: 15px;
        }
    }
    @media screen and (max-width: 1440px) {
        .main-agileits {
            width: 33%;
        }
    }
    @media screen and (max-width: 1280px) {
        .main-agileits {
            width: 36%;
        }
    }
    @media screen and (max-width: 1080px) {
        .main-agileits {
            width: 42%;
        }
    }
    @media screen and (max-width: 1024px) {
        .main-agileits {
            width: 45%;
        }
        .form-sub-w3 input[type="text"], .form-sub-w3  input[type="password"] {
            width: 85.5%;
        }
    }
    @media screen and (max-width: 900px) {
        .main-agileits {
            width: 50%;
        }
    }
    @media screen and (max-width: 800px) {
        .main-agileits {
            width: 55%;
        }
    }
    @media screen and (max-width: 768px) {
        .main-agileits {
            width: 58%;
        }
    }
    @media screen and (max-width: 736px) {
        .main-agileits {
            width: 60%;
        }
        h1 {
            margin: 35px 0;
            font-size: 40px;
        }
    }
    @media screen and (max-width: 667px) {
        .main-agileits {
            width: 68%;
        }
    }
    @media screen and (max-width: 640px) {
        .main-agileits {
            width: 70%;
        }
    }
    @media screen and (max-width: 600px) {
        .main-agileits {
            width: 73%;
        }
    }
    @media screen and (max-width: 568px) {
        .main-agileits {
            width: 80%;
        }
        h1 {
            margin: 30px 0;
            font-size: 35px;
        }
    }
    @media screen and (max-width: 480px) {
        .main-agileits {
            width: 93%;
        }
    }
    @media screen and (max-width: 414px) {
        .main-agileits {
            width: 95%;
        }
        .form-w3-agile {
            padding: 30px 30px;
        }
        .p-bottom-w3ls {
            float: none;
        }
        .p-bottom-w3ls1 {
            padding-right: 0px;
            margin-top:10px;
            float: none;
        }
        h1 {
            margin: 30px 0;
            font-size: 33px;
        }
        .copyright p {
            margin: 40px 0px;
            line-height: 28px;
        }
        .form-sub-w3 input[type="text"], .form-sub-w3 input[type="password"] {
            width: 85%;
        }
    }
    @media screen and (max-width: 384px) {
        .copyright p {
            margin: 40px 10px 40px;
        }
        h1 {
            margin: 20px 0;
            font-size: 30px;
        }
        i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-linkedin, i.fa.fa-pinterest-p {
            padding: .4em;
            width: 20px;
            font-size: 16px;
        }
        .form-sub-w3 input[type="text"], .form-sub-w3 input[type="password"] {
            width: 82%;
            padding: 13px 40px 13px 10px;
        }
    }
    @media screen and (max-width: 375px) {

    }
    @media screen and (max-width: 320px) {
        h1 {
            margin: 20px 0;
            font-size: 27px;
            word-spacing: 4px;
            letter-spacing: 2px;
        }
        .icons {
            margin-left: 6em;
        }
        .form-w3-agile {
            padding: 30px 20px;
        }
        .copyright p {
            margin: 20px 10px 20px;
        }
        .icon-w3 {
            right: 5px;
        }
        .form-sub-w3 {
            margin-bottom: 5px;
        }
    }
</style>
<!--title: { type: String, required: true, unique: true },-->
<!--price: { type: Number, required: true },-->
<!--desc: { type: String, required: true },-->
<!--img: { type: String, required: true },-->
<!--categories: { type: Array },-->
<!--size: { type: String },-->
<!--color: { type: String },-->
<!--stock: { type: Number ,required:true },-->

<div class="container demo-1"  style="color: #ffffff    ">
    <div class="content">
        <div id="large-header" >

            <div class="main-agileits">
                <!--form-stars-here-->
                <div class="form-w3-agile">
                    <h2>ADD PRODUCT</h2>
                    {{#if msg}}
                        <p class="text-danger">{{{msg}}}</p>
                    {{/if}}
                    <form action="#" id="uploadForm" method="post" enctype="multipart/form-data">
                        <div class="form-sub-w3">
                            <input type="text" name="title" placeholder="title " required="" />

                        </div>
                        <div class="form-sub-w3">
                            <input type="text" name="price" placeholder="price" required="" />

                        </div>
                        <div class="form-sub-w3">
                            <input type="text" name="desc" placeholder="desc" required="" />

                        </div>

                        <div class="form-sub-w3">

                            <select class="form-control form-control-sm" id="select_category" Name="cate"style="width: 250px; height: 50px;" onchange="select();">
                                <option > chọn category </option>
                                {{#each listCate}}

                                    <option value="{{this.title}}"> {{this.title}}  </option>
                                {{/each}}
                            </select>

                        </div>
                        <div>
                            <select class="form-control form-control-sm" id="select_size"  size="{{sizeLength}}" Name="sizes"style="width: 250px;" onchange="select();" multiple>
                                {{#each listSize}}

                                    <option value="{{this}}"> {{this}}  </option>
                                {{/each}}
                            </select>
                        </div>
<!--                        <div class="form-sub-w3">-->
<!--                            <input type="text" name="sizes" placeholder="sizes " required="" />-->

<!--                        </div>-->

                        <div class="form-sub-w3" style="margin-top: 20px">
                            <input type="text" name="color" placeholder="color" required="" />

                        </div>
                        <div class="form-sub-w3">
                            <input type="text" name="stock" placeholder="stock" required="" />

                        </div>
                        <div class="form-sub-w3">
                            <input type="file" name="img" placeholder="img " required=""  multiple/>
                            <span id = "status"></span>
                        </div>
                        <div class="clear"></div>
                        <div class="submit-w3l">
                            <input type="submit" id="submit" value="ADD">
                        </div>
                    </form>
                    <div class="social w3layouts">

                        <div class="clear"></div>
                    </div>
                </div>
                <!--//form-ends-here-->
            </div><!-- copyright -->

            <!-- //copyright -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // Multiple images preview in browser - trungquandev.com
        let imagesPreview = function(input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    let reader = new FileReader();
                    reader.onload = function(event) {
                        $($.parseHTML("<img>")).attr("src", event.target.result).appendTo(placeToInsertImagePreview);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $("#input-many-files").on("change", function() {
            imagesPreview(this, "div.preview-images");
        });
    });
 // function select() {
 //     // let element   = $('#select_category').val();
 //     // let value = request.form("cate").toString();
 //     // console.log(element);
 //     const anh_manga = document.querySelector('#select_category');
 //     const reader = new select();
 //     reader.addEventListener("load", function () {
 //
 //         preview.src = reader.result;
 //         anh_manga.value = reader.result;
 //     }, false);
 // }
</script>