<head>
    <title>Sửa thông tin Sản phẩm</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/select2/select2.min.css">
    <link rel='stylesheet' href='/stylesheets/signin.css'/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<style>
    .form-group input {
        width: 400px;
    }


</style>

    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách sản phẩm </li>
            <li class="breadcrumb-item"><a href="#">Sửa sản phẩm </a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Sa thông tin sản phẩm</h3>
                <div class="tile-body">
                    {{#if msg}}
                        <p class="text-danger">{{{msg}}}</p>
                    {{/if}}
                    <form  action="#" id="uploadForm" method="post" enctype="multipart/form-data" style="margin-bottom: 50px">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Tên</label>
                            <input type="text" class="form-control" name="title" value="{{itemPro.title}}"  placeholder="Tên" required=""/>

                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Giá</label>
                            <input type="number" class="form-control" name="price" value="{{itemPro.price}}" placeholder="Giá" required="" />

                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Mô tả</label>
                            <input type="text" class="form-control" name="desc" value="{{itemPro.desc}}" placeholder="Mô tả" required="" />

                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Chọn loại</label>
                            <input type="text" class="form-control" name="category" value="{{itemPro.category}}" placeholder="Màu" required="" />
                        </div>
                        <label for="exampleFormControlInput1" class="form-label">Chọn size</label>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="sizes" value="{{itemPro.sizes}}" placeholder="Màu" required="" />

                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Màu</label>
                            <input type="text" class="form-control" name="color" value="{{itemPro.color}}" placeholder="Màu" required="" />

                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Số lượng</label>
                            <input type="text" class="form-control" name="stock" value="{{itemPro.stock}}" placeholder="Số lượng" required="" />

                        </div>
                        <div class="form-sub-w3">
                            <img src="{{itemPro.img}}" style="width: 100px;height: 100px;">
                            <input type="file" name="img"  placeholder="img" id="img" accept="{{itemPro.img}}"/>
                        </div>
                        <br/>
                        <Button type="submit" class="btn btn-primary">Sửa</Button>
                    </form>
                </div>
            </div>
        </div>

    </div>

