<head>
    <title>Đăng nhập quản trị | Website quản trị v2.0</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/select2/select2.min.css">
    <link rel='stylesheet' href='/stylesheets/signin.css'/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<style>
    .form-group input {
        width: 400px;
    }


</style>

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Danh sách sản phẩm</li>
        <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="tile">

            <h3 class="tile-title">Sửa sản phẩm</h3>
            <div class="tile-body">
                {{#if msg}}
                    <p class="text-danger">{{{msg}}}</p>
                {{/if}}
            </div>
            <form class="row" method="post" id="uploadForm"  enctype="multipart/form-data">
                <div class="form-group col-md-4">
                    <label htmlFor="inputEmail" class="form-label">Name</label>
                    <input type="text" class="form-control" name="title" placeholder="Tên" required=""  value="{{itemPro.title}}"/>
                </div>
                <div class="form-group col-md-4">
                    <label htmlFor="input_password" class="form-label">Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Giá" required="" value="{{itemPro.price}}"/>
                </div>
                <div class="form-group col-md-4">
                    <label htmlFor="input_full_name" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" name="desc" value="{{itemPro.desc}}" placeholder="Mô tả" required="" />
                </div>
                <div class="form-group  col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Chọn loại</label>
                    <select class="form-control form-control-sm" id="select_category" Name="cate"
                            style="width: 400px; height: 50px;" onchange="select();">
                        <option> Chọn loại</option>
                        {{#each listCate}}

                            <option value="{{itemPro.category}}"> {{this.title}}  </option>
                        {{/each}}
                    </select>
<!--                    <input type="text" class="form-control" name="category" value="{{itemPro.category}}" placeholder="Màu" required="" />-->

                </div>

                <div class="form-group  col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Chọn size</label>
                    <select  style="height: 100px" class="form-control form-control-sm" id="select_size" size="{{sizeLength}}"
                             Name="sizes" style="width: 400px;" onchange="select();" multiple>
                        {{#each listSize}}

                            <option value="{{this}}"> {{this}}  </option>
                        {{/each}}
                    </select>
<!--                    <input type="text" class="form-control" name="sizes" value="{{itemPro.sizes}}" placeholder="Màu" required="" />-->

                </div>

                <div style="" class="form-group  col-md-4">
                    <label for="exampleFormControlInput1" class="form-label">Chọn colors</label>
                    <select style="height: 100px" class="form-control form-control-sm" id="select_size" size="{{sizeLength}}"
                            Name="color" style="width: 400px;" onchange="select();" multiple>
                        {{#each listColor}}
                            <option value="{{this}}"> {{this}}  </option>
                        {{/each}}
                    </select>
<!--                    <input type="text" class="form-control" name="color" value="{{itemPro.color}}" placeholder="Màu" required="" />-->

                </div>
                <div class="form-group  col-md-4">
                    <label htmlFor="input_phone_number" class="form-label">Số lượng</label>

                    <input type="text" class="form-control" name="stock" placeholder="Số lượng" required="" value="{{itemPro.stock}}"/>

                </div>
                <div class="form-group  col-md-4">
                    <img src="{{itemPro.img}}" style="width: 100px;height: 100px;">
                    <span id = "status"></span>
                    <input type="file" name="img"  placeholder="img" id="img" accept="{{itemPro.img}}"/>
                    <span id = "status"></span>
                </div>

                <div class="form-group  col-md-4" style="margin-top: 30px">

                    <button class="btn btn-save" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel" href="/pro/list">Hủy bỏ</a>
                </div>


            </form>
        </div>
    </div>
</div>

</div>

