<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Sửa sản phẩm</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="col-12" id="headerlist">
                        <div class="btnaddbanner">
                            <a href="/pro/list" class="btn btn-primary">Danh sách</a>
                        </div>
                    </div>
                </div>
            </div>
            {{#if msg}}
                <p class="text-danger">{{{msg}}}</p>
            {{/if}}
            <form action="#" id="uploadForm" method="post" enctype="multipart/form-data" style="margin-bottom: 50px">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tên</label>
                    <input type="text" class="form-control" name="title" value="{{itemPro.title}}"  placeholder="Tên" required=""/>

                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Giá</label>
                    <input type="number" class="form-control" name="price" value="{{itemPro.price}}" placeholder="Giá" required="" />

                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mô tả</label>
                    <input type="text" class="form-control" name="desc" value="{{itemPro.desc}}" placeholder="Mô tả" required="" />

                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Chọn loại</label>
                    <input type="text" class="form-control" name="category" value="{{itemPro.category}}" placeholder="Màu" required="" />
                </div>
                <label for="exampleFormControlInput1" class="form-label">Chọn size</label>
                <div class="mb-3">
                    <input type="text" class="form-control" name="sizes" value="{{itemPro.sizes}}" placeholder="Màu" required="" />

                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Màu</label>
                    <input type="text" class="form-control" name="color" value="{{itemPro.color}}" placeholder="Màu" required="" />

                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Số lượng</label>
                    <input type="text" class="form-control" name="stock" value="{{itemPro.stock}}" placeholder="Số lượng" required="" />

                </div>
                <div class="form-sub-w3">
                    <img src="{{itemPro.img}}" style="width: 100px;height: 100px;">
                    <input type="file" name="img"  placeholder="img" id="img" accept="{{itemPro.img}}"  required="required    " />
                </div>
                <br/>
                    <Button type="submit" class="btn btn-primary">Sửa</Button>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    // $(document).ready(function() {
    //     // Multiple images preview in browser - trungquandev.com
    //     let imagesPreview = function(input, placeToInsertImagePreview) {
    //         if (input.files) {
    //             let filesAmount = input.files.length;
    //             for (i = 0; i < filesAmount; i++) {
    //                 let reader = new FileReader();
    //                 reader.onload = function(event) {
    //                     $($.parseHTML("<img>")).attr("src", event.target.result).appendTo(placeToInsertImagePreview);
    //                 }
    //                 reader.readAsDataURL(input.files[i]);
    //             }
    //         }
    //     };
    //     $("#input-many-files").on("change", function() {
    //         imagesPreview(this, "div.preview-images");
    //     });
    // });
    // function select() {
    //     // let element   = $('#select_category').val();
    //     // let value = request.form("cate").toString();
    //     // console.log(element);
    //     const anh_manga = document.querySelector('#select_category');
    //     const reader = new select();
    //     reader.addEventListener("load", function () {
    //
    //         preview.src = reader.result;
    //         anh_manga.value = reader.result;
    //     }, false);
    // }
</script>