<head>
    <title>Danh sách nhân viên | Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>
<div class="app-title" style="margin-top: 25px">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">

<!--                        <a class="btn btn-add btn-sm" href="/pro/add" title="Thêm"><i class="fas fa-plus"></i>-->
<!--                            thêm sản phẩm đã hết hàng</a>-->
                    </div>



                    <table class="table table-hover table-bordered" id="sampleTable">

                        <input class="form-control" id="myInput" type="text" placeholder="Tìm kiếm.."
                               style="margin-bottom: 10px">

                        <div class="tables">
                            <table class="table table-bordered" style="text-align: center">

                                <thead>
                                <tr>
                                    <!--                <th>ID</th>-->
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Mô tả</th>
                                    <th>Ảnh</th>
                                    <th>Loại</th>
                                    <th>Size</th>
                                    <th>Màu</th>
                                    <th>Stock</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="myTableProduct">
                                {{#each listEmtyProduct}}
                                    <tr>
                                        <td scope="row">{{this.title}}</td>
                                        <td>{{this.price}}</td>
                                        <td>{{this.desc}}</td>
                                        <td><img src="{{this.img}}"
                                                 style="width: 50px;height: 50px;align-items: center"></td>
                                        <td>{{this.category}}</td>
                                        <td>{{this.sizes}}</td>
                                        <td>{{this.color}}</td>
                                        <td>{{this.stock}}</td>
                                        <td>


                                            <a href="/pro/upload/{{this._id}}" class="btn btn-primary" id="btnAction">
                                                <use xlink:href="#upnhieuanh"/>
                                                <i class="fas fa-images"></i>
                                            </a>
                                            <a href="/pro/edit/{{this._id}}" class="btn btn-primary" id="btnAction">
                                                <use xlink:href="#edit"/>
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="/pro/del/{{this._id}}"
                                               onclick="return confirm('Bạn có muốn xóa không?')"
                                               id="btnAction" class="btn btn-danger">
                                                <use xlink:href="#delete"/>
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>


                                    </tr>


                                    </tr>


                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $("#myInput").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#myTableProduct tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>